@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Lato:ital,wght@1,300&display=swap');
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato_black-webfont.woff2') format('woff2'),
         url('../fonts/lato_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato_bold-webfont.woff2') format('woff2'),
         url('../fonts/lato_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato_regular-webfont.woff2') format('woff2'),
         url('../fonts/lato_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'latoregular', sans-serif;
    overflow-x: none !important;
    font-size: 15px !important;
}

.navbar-brand{
    font-family: 'Aladin', cursive;
}
.navbar,footer{
    background-color: #bb8375 !important;
}
.navbar a:hover{
    font-weight: 900;
}
footer p{
    padding: 0px !important;
    margin: 0px !important;
}
.title{
    color: #df9380 !important;
}
.italic{
    font-family: 'Lato', sans-serif;
}

