<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% macro display(pitches) %}
<div class="container-fluid">
  <div class="row">
    {% if pitches %}
    {% for pitch in pitches %}
    <div class="col-md-4">
      <div class="card m-1 p-0">
        <p class="card-header">Category: {{pitch.category}}</p>
        <div class="card-body">
          <p class="m-0 p-0"><strong>{{pitch.title}}</strong></p>
          <p class="m-0 p-0">{{pitch.post}}</p><br>
          <p class="pb-2 m-0">{{pitch.comment.count()}} comments</p>
          <div>
            <span class="pl-2"><a href="{{url_for('main.upvote',id = pitch.id)}}"><i class="fa fa-thumbs-up"
                  style="font-size:18px;color: green"></i></a> {{pitch.upvote.count()}}</span>
            <span class="pl-2"><a href="{{url_for('main.downvote',id = pitch.id)}}"> <i class="fa fa-thumbs-down"
                  style="color:red;"></i> {{pitch.downvote.count()}}</a></span>
            <span class="pl-5"><a href="{{url_for('main.comment',pitch_id = pitch.id)}}" class="btn btn-outline-primary btn-sm"> Comment</a></span>
            <!-- <span class="pl-5">{{pitch.comment.count()}} comments</span> -->
          </div><br>
          <!-- <p class="p-0 m-0">{{pitch.comment.count()}} comments</p> -->
        </div>
        <div class="card-footer text-muted">
          <p class="text-center p-0 m-0">Posted by: {{pitch.user.username}}</p>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="card">
      <div class="card-body">

        <p class="card-title">No pitches in this category yet</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}